@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --secondary: 60 11% 98%;
    --secondary-foreground: 60 3% 94%;

    --text: 60 0% 48%;

    --border: 220 13% 91%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --input: 214.3 31.8% 91.4%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 80%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 25%;

    --text: 200 5% 70%;

    --border: 220 13% 20%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 70%;

    --accent: 0 0% 20%;
    --accent-foreground: 10 10% 80%;

    --input: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    /* @apply border-border; */
    font-family: Arial, Helvetica, sans-serif
  }
  body {
    @apply bg-background text-foreground;
  }
}
ul[data-type="taskList"] li > label input[type="checkbox"] {
  background-color: hsl(var(--background)) !important;
}